<section id="about" class="about">
    <div class="container">
        <div class="row">
            <span class="title">ABOUT</span>
        </div>
        <div class="row">
            <table class="col-12" style="margin: auto">
                <tr>
                    <td class="align-middle">
                        <img src="assets/img/rectangle-green.png" alt="ringe app">
                        <img src="assets/img/rectangle-berlin.png" alt="ringe app" class="berlin-img">
                    </td>
                    <td class="align-middle text-padding">
                        <p>
                            There are lots of maps that a person can use, some will also allow to share the photos or
                            comments.
                            But we propose more!
                        </p>
                        <p>
                            Live chats that you create yourself based on location and broadcasting radius.
                            Here real people can provide you with their opinion regarding the place you
                            are heading in a real time. No need to search for something or wait for hours.
                        </p>
                        <p>
                            It enables live discussions and socialization! Create your own teams, run “secret” parties
                            with
                            people based on the same location or just find people around to buy a group ticket to
                            museum.
                            Enable power of a neighborhood!
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>