<section id="features" class="features">
  <div class="container">
    <div class="row">
      <span class="title">FEATURES</span>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 columns">
        <p> <img src="assets/img/pointer.png" alt="ringe app" class="align-middle"></p>
        <p><b>Send a message to a place, not person</b></p>
        <p class="align-middle">
          It allows users to share a message or opinion based on specific location and choose the radius where it will be available.
        </p>
      </div>
      <div class="col-12 col-md-4 columns">
        <p><img src="assets/img/user.png" alt="ringe app"></p>
        <p><b>Create your own chats</b></p>
        <p>
          You want to create a chat of your neighborhood or follow what
          is happening on your hometown or near your business? Easy, just pick the place on a map, select the radius
          and be in contact with locals.
        </p>
      </div>
      <div class="col-12 col-md-4 columns">
        <p><img src="assets/img/locker.png" alt="ringe app"></p>
        <p><b>Keep your privacy safe</b></p>
        <p>
          We don't share your real name or location. You are free
          to post wherever you want,
          so your real location
          could be known only if you want to share it yourself.

        </p>
      </div>
    </div>
  </div>
</section>