<section id="hero" class="hero">
    <div class="container">
        <table class="col-10" style="margin: auto">
            <tr>
                <td class="align-middle">
                    <span class="light"><h1>INSTALL RINGE APP</span></h1>
                    <p>ENABLE POWER OF NEIGHBORHOOD!</p>
                </td>
                <td class="align-middle">
                    <img src="assets/img/mobile_screens.png" alt="ringe app" class="folat-right">
                </td>
            </tr>
        </table>
    </div>
</section>