<section id="subscribe" class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-6 title">Be the first beta tester of Ringe app</div>
        </div>

        <div class="row">
          <p class="align-middle subscribe-text">Subscribe For Updates and Promotions</p>
        </div>
        <div class="row">
            <form class="form-inline align-middle">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="userEmail" class="sr-only">Email</label>
                    <input type="text" class="form-control input-text" id="userEmail" placeholder="Enter Your Email">
                </div>
                <button type="submit" class="btn btn-primary subscribe-button mb-2">Subscribe</button>
            </form>
        </div>
    </div>
</section>