.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: transparent !important;
}
.middle { vertical-align: middle; }

body {
  font-family: Montserrat;
  color: white !important;
}
.hero {
  background-image: url("../img/hero_back.png");
  --text: #fff;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -60px;
}

.hero,
.hero .columns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.hero .columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.hero .text {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center
}

.hero .media {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 96px;
    margin-top: 6rem
}

.hero .text p {
    margin: 16px 0 32px;
    margin: 1rem 0 2rem;
    color: #fff;
    font-size: 16px;
    font-size: 1rem
}

.hero media img {
    max-height: 20vh;
}

section{
  padding: 50px 20px;
}

.title {
  padding: 20px;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 900;
}
.berlin-img {
  margin-top: -390px;
  margin-left: 20px;
}

.about .text-padding {
  padding-left: 30px;
}
.features{
  background: #2D302D;
  text-align: center;
}

.features .columns { padding: 30px 40px}

.align-middle { margin: auto;}

.subscribe{
  background: #3d8433;
  text-align: center;
}

.subscribe-text {
  padding: 40px;
  font-size: 24px;
}

.input-text {
  height: 50px  !important;
  width: 400px  !important;
}

.subscribe-button {
  color: #4BB841;
  height: 50px !important;
  padding: 0 20px !important;
  background-color: #1C1F1C !important;
  border-color: #1C1F1C !important;
}

.contacts .email {
  text-align: right;
}
.green { color: #4BB841; }

.footer {
  padding:15px;
  background: #2D302D;
  text-align: center;
}