<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script src="https://kit.fontawesome.com/0766829e4d.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include navbar.html %}
  <div class="container-fluid p-0">
    {% include hero.html %}
    {% include about.html %}
    {% include features.html %}
    {% include subscribe.html %}
    {% include contact.html %}
    {% include footer.html %}
  </div>
</body>

</html>